<div class="row g-2">
  <div class="col-sm col-md-12 col-lg-8 mb-3">
    <%= f.label :title, "Title *", class: 'form-label' %>
      <%= f.text_field :title, id: "title", class: "form-control" %>
  </div>
  <div class="col-sm col-md-12 col-lg-4 mb-3">
    <%= f.label :print_code, "Print Vendor Code", class: 'form-label' %>
      <%= f.text_field :print_code, id: "print_code", class: "form-control" %>
  </div>
</div>

<div class="row">
  <div class="col-sm col-md-12 col-lg-12 mb-3">
    <%= f.label :description, "Description", class: 'form-label' %>
      <%= f.text_area :description, id: "description", class: "form-control" %>
  </div>
</div>

<div class="row">
  <div class="col-sm col-md-12 col-lg-6 mb-3">
    <%= f.fields_for :subscriber do |subscriber_form| %>
      <%= f.label :subscriber, "Template Trigger Event", class: 'form-label' %>
        <%= subscriber_form.select(:event_name, options_for_select(template.publisher_options.inject(['Select one']) {|options, (k, v)| options << [k, v]}, selected: template.subscriber&.event_name || 'Select One'), { include_blank: false }, { :class => 'form-select'} ) %>
          <% end %>
  </div>

  <div class="col-sm col-md-12 col-lg-6 mb-3">
    <%= f.fields_for :publisher do |publisher_form| %>
      <%= f.label :publisher, "Template Publish Event", class: 'form-label' %>
        <%= publisher_form.select(:event_name, options_for_select(template.subscriber_options.inject(['Select one']) {|options, (k, v)| options << [k, v]}, selected: template.publisher&.event_name || 'Select One'), { include_blank: false }, { :class => 'form-select'} ) %>
          <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm col-md-12 col-lg-6 mb-3">
    <%= f.label :marketplace, "Marketplace", class: 'form-label' %>
      <%= f.select(:marketplace, options_for_select(::AcaEntities::Types::MarketPlaceKinds.values.collect{ |market| [market.to_s.titleize, market] }, selected: template.marketplace), {include_blank: false}, {:class => 'form-select'} ) %>
  </div>

  <div class="col-sm col-md-12 col-lg-6 mb-3">
    <%= f.label :content_type, "Output Format", class: 'form-label' %>
      <%= f.select(:content_type, options_for_select(['application/pdf', 'text/plain', 'text/csv'].collect{ |type| [type.split('/')[1], type] }, selected: template.content_type), {include_blank: false}, {:class => 'form-select'} ) %>
  </div>
</div>

<div class="row">

  <% recipients = Services::NoticeKindService.new(template.marketplace).recipients %>

  <div class="col-sm col-md-12 col-lg-6 mb-3">
    <%= f.label :recipient, "Recipient", class: 'form-label' %>
    <%= f.select(:recipient, options_for_select(recipients.inject([]) {|options, (k, v)| options << [k, v]}, selected: template.recipient), { include_blank: false }, { :class => 'form-select'} ) %>
  </div>

  <div class="col-sm col-md-12 col-lg-6 mb-3">
    <%= f.label :published_at, "Published On", class: 'form-label' %>
      <%= f.text_field :published_at, id: "published_on", class: "form-control" %>
  </div>

</div>