<tr>
	<td></td>
    <td><%= section.key %></td>
	<td><%= link_to section.title, edit_new_section_path(section), target: '_blank' %></td>
	<td><%= section.description %></td>
	<td><%= section.marketplace %></td>
	<td><%= section.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime('%m/%d/%Y %H:%M') %></td>
	<td>
	  <a class="text-reset" href="<%= edit_new_section_path(section) %>"><i class="fas fa-edit"></i></a>
	  <a class="text-reset" href="<%= new_section_path(section) %>" data-confirm="Are you sure?" data-method="delete"><i class="fas fa-trash"></i></a>
	</td>
</tr>