<tr>
	<td><%= check_box_tag "template_ids[]", template.id, false, class: 'selectable' %></td>
	<%#= prepend_glyph_to_text(template) %>
	<td><%= link_to template.title, edit_new_template_path(template), target: '_blank' %></td>
	<td><%#= template.doc_type %></td>
	<td><%= template.content_type %></td>
	<td><%= template.description %></td>
	<td><%= template.key %></td>
	<td><%= template.marketplace.to_s.titleize %></td>
	<td><%#= template.recipient_klass_name.to_s.titleize %></td>
	<td><%= template.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime('%m/%d/%Y %H:%M') %></td>
	<td>
		<a data-turbolinks='false' class="text-reset" href="<%= preview_new_template_path(template) %>"><i class="fas fa-eye"></i></a>
		<a class="text-reset" href="<%= edit_new_template_path(template) %>"><i class="fas fa-edit"></i></a>
		<a class="text-reset" href="<%= new_template_path(template) %>" data-confirm="Are you sure?" data-method="delete"><i class="fas fa-trash"></i></a>
	</td>
</tr>